body, html {
    margin: 0;
    padding: 0;
    background: black;
  }
  
  #matrixCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    z-index: -2;
  }

  #matrixOverlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: auto;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: -1;
  }
